@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #2563EB;
  --color-primary-dull: #1F58D8;
  --color-light: #F1F5F9;
  --color-borderColor: #c4c7d2;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


[data-theme='dark'] {
  --color-bg: #0f172a;
  --color-text: #f1f5f9;
  --color-primary: #3b82f6;
  --color-primary-dull: #2563EB;
  --color-borderColor: #475569;
}

/* ✅ Apply Colors Globally */
body {
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* ✅ Optional Containers or Components */
.navbar,
.container,
.main-wrapper,
section,
footer ,
h1{

  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}



